hr { margin-bottom: 0.1em; }

mat-card {
  height: 100%;
  padding: 0.5em;
}

div.row.bannertitle {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
h1 { margin: auto; }
mwb-search { margin: auto; }

div.filelistcontainer { 
  padding: 0; 
}
file-list { 
  padding-right: 1em; 
  margin-top: 0.1em 
}

div.result { 
  padding-left: 0.7em; 
}
div.result-wrapper { 
  overflow-y: scroll; 
  padding-left: 0.10em; 
  height: 85% 
}

@media only screen and (min-width: 990px) {
  /* Make content take remainder of the page */
  div.filelistcontainer { height: calc(100vh - 220px); }
  div.result { height: calc(100vh - 220px); }
}


/* Vertically align badge with title */
.title { 
  display: flex; 
  flex-flow: row;
  justify-content: flex-start;
}
.titleText { 
  margin: auto 0.5em auto 0;  
}
error-badge { 
  margin: auto 0.5em auto 0;  
}
search-indicator { 
  margin: auto 0.5em auto 0;  
}

error-badge {
  opacity: 0.7;
  font-size: 0.75em;
  margin-left: 0.7em;
}

.last-refresh-label {
  text-align: right;
}

.pointable {
    cursor: pointer;
}

div.bannertitle {
  display: flex;
  padding-left: 15px;
  margin-top: 1.5em;
}
div.bannertitle h1 {
  margin: auto;
  margin-left: 0;
}
div.bannertitle mwb-search {
  margin: auto;
  margin-right: 15px;
}

search-results-modal {
  z-index: 2000;
}
