<div #graphContainer>
  <div id="content" class="row">
    <div class="col-md-7">
      <div class="d3-graph" #graph></div>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <div id="footer" class="row pull-right" style="margin-top: 530px">

          <div class="row">
            <h2>Extract Referential Integrity</h2>
            <div class="hint">
              <p class="pull-right">Green: ok, Red: errors, Orange: child has errors</p>
            </div>
            <br/>
            <hr/>
          </div>

          <div class="relation row">
            <h4 class="relation-title">Relationship</h4>
            <h6 class="relation-text"></h6>
          </div>

        </div>
    </div>
  </div>
</div>
